body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Забороняємо прокрутку */
  font-family: "Montserrat", sans-serif;
  color: #333;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fefefe;
}

header.hero {
  min-height: 200px;
  position: relative;
  background-image: url("./images/header.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; /* Видаляємо відступ знизу */
  padding-bottom: 0; /* Видаляємо паддінг знизу */
  max-height: 200px;
}

header.hero .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 10px 100px;
  margin-bottom: 40px;
  margin-top: 40px;
  border: 1px solid #fff;
}

header.hero h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
}

header.hero p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #fff;
  line-height: 120%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Вирівнювання вгорі */
  align-items: center;
  margin-top: -60px; /* Відсутність відступу між хедером і основним контентом */
}

.features {
  text-align: center;
  margin: 20px auto;
}

.features ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #a9a9a9;
  width: 100vw;
  padding-top: 16px;
  padding-bottom: 16px;
}

.features ul li {
  font-size: 1.15em;
  margin: 8px 0;
  color: #fff;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.gallery-item img {
  width: 150px;
  height: 160px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.telegram-link {
  text-decoration: none;
  padding: 15px 90px; /* Збільшуємо розмір кнопки для кращого вигляду */
  background-color: #000000;
  color: #fff;
  font-size: 1.1em;
  border-radius: 1px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Тінь трохи м'якша */
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Додано ефект збільшення */
}

.telegram-link:hover {
  background-color: #0056b3; /* Темніший синій на ховері */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); /* Збільшуємо тінь */
  transform: scale(1.05); /* Додаємо ефект масштабування */
}

/* -------- */

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  text-align: center;
}

.telegram-link {
  text-decoration: none;
}

.telegram-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #000; /* Чорний фон */
  color: #fff; /* Білий текст */
  border: none;
  border-radius: 1px; /* Радіус 1 піксель */
  cursor: pointer;
  gap: 10px; /* Проміжок між SVG і текстом */
  font-size: 16px;
}

.telegram-button svg {
  flex-shrink: 0; /* Фіксує розмір іконки */
}

.telegram-button span {
  color: #fff;
}

.under-img {
  display: flex;
}

/* Основний стиль для секції */
.under {
  margin-top: 60px;
  background-color: #f9f9f9;
  text-align: center;
}

/* Стиль для списку зображень */
.under-img {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; /* Адаптивність: перенос зображень */
}

/* Окремий елемент списку */
.under-item {
  width: 120px;
  height: 120px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.under-item-big {
  width: 150px;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.under-item-big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Стиль для зображень */
.under-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обрізка по пропорціях */
  display: block;
}

/* Ховер-ефекти */
.under-item:hover {
  transform: scale(1.05); /* Легке збільшення */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Збільшена тінь */
}

@media (min-width: 1200px) {
  .under-item {
    width: auto; /* Картинки займають всю ширину */
    height: auto; /* Висота підлаштовується під співвідношення сторін */
  }
}

.under-item,
.under-item-big {
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.paragraph {
  margin-top: 10px;
  text-align: center;
}
